body {
  background-color: #1B2473;
}

.form {
  background-color: white;
  width: 600px;
  height: 412px;
  border-radius: 20px;
  margin-left: 32%;
  margin-top: 50px;
  padding: 11px 0 26px 0;
}

#formRegistration {
  display: none;
}

#formEntry {
  /* display: none; */
}

.user-error {
  font-family: roboto;
  color: #CB2424;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  margin-left: 10px;
  display: none;
}

.desc {
  font-size: 16px;
  color: #1A226B;
  font-weight: 900;
  display: flex;
  justify-content: end;
  font-family: roboto;
  margin-right: 11px;
}

.authorization {
  text-decoration: none;
}

.authorization:visited {
  color: #1A226B;
}

.title {
  font-size: 50px;
  font-weight: 900;
  color: #787878;
  text-align: center;
  margin: 5px 15px;
  font-family: roboto;
}

.subtitle {
  font-size: 18px;
  font-weight: 900;
  color: #787878;
  font-family: roboto;
  margin-left: 46px;
}

.form__star {
  position: relative;
}

.star {
  position: absolute;
  top: 10px;
  left: 34px;
  color: #787878;
}

.star__label {
  top: 3px;
}

.email {
  width: 80%;
  padding: 7px 0 6px 15px;
  border-radius: 10px;
  font-size: 28px;
  margin-bottom: 25px;
  margin-left: 46px;
  border: 2px solid #787878;
  font-family: roboto;
  display: flex;
}

.email::placeholder {
  font-size: 28px;
  color: #CCCCCC;
  font-family: roboto;
  font-weight: 900;
}

.password {
  width: 80%;
  padding: 7px 0 6px 15px;
  border-radius: 10px;
  font-size: 28px;
  margin-bottom: 25px;
  margin-left: 46px;
  border: 2px solid #787878;
  font-family: roboto;
  display: flex;
}

.password::placeholder {
  font-size: 28px;
  color: #CCCCCC;
  font-family: roboto;
  font-weight: 900;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  margin-left: 46px;
}

.mark__entry {
  display: none;
}

.mark__reg {
  display: none;
}

.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 7px;
  border: 2px solid #787878;
  position: relative;
  cursor: pointer;
}

.mark__entry:checked ~ .checkmark::after {
  content: '';
  position: absolute;
  background: no-repeat center url(mark.svg);
  background-size: cover;
  width: 19px;
  height: 17px;
  transform: scale(0.75);
}

.mark__reg:checked ~ .checkmark::after {
  content: '';
  position: absolute;
  background: no-repeat center url(mark.svg);
  background-size: cover;
  width: 19px;
  height: 17px;
  transform: scale(0.75);
}

.label__text {
  margin-left: 15px;
  color: #787878;
  font-family: roboto;
}

.label__text-link {
  color: #787878;
  font-family: roboto;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 18px;
  background-color: #1A226B;
  font-size: 24px;
  font-weight: 900;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: roboto;
  border: none;
}

#buttonEntry {
  padding: 18px 63px;
}

.error {
  margin-left: 46px;
  font-family: roboto;
  color: #CB2424;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  top: 42px;
  display: none;
}

.error__label {
  top: 15px;
}
